---
import { Footer, Head, Header } from '@eco/common';

export interface Props {
  title: string;
  description: string;
}

const { title: pageTitle, description } = Astro.props;
const { canonicalURL } = Astro.request;
const siteName = canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
---

<html lang="en" class="scroll-smooth">
  <head>
    <Head {title} {description} {canonicalURL} {siteName} />
  </head>

  <body
    class="prose prose-invert min-h-screen w-screen max-w-full flex flex-col bg-neutral-900 selection:bg-yellow-800  overflow-x-hidden"
  >
    <Header currentPage={Astro.request.url.pathname} />

    <main class="flex flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
