---
import styles from '../styles/global.css';

export interface Props {
  canonicalURL: URL;
  description: string;
  title: string;
  siteName: string;
}

const {
  canonicalURL,
  description,
  title,
  siteName,
  socialImage = 'assets/eloy.co.png',
  socialImageAlt = `Eloy's website social image`,
} = Astro.props;
const canonicalImageSrc = new URL(socialImage, Astro.site);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#fbbf24" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" /> -->
<link rel="sitemap" href="/sitemap.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Eloy's dots RSS Feed" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="author" content="Eloy Castelo Otero" />
<meta name="description" content={description} />
<meta name="keywords"
  content="Eloy, Eloy Castelo, Eloy Castelo Otero, eloy.co, Software Engineer, Frontend, Web Development" />
<link rel="canonical" href={canonicalURL} />

<!-- OpenGraph Tags -->
<meta property="og:type" content="article" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={siteName} />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content={canonicalImageSrc} />
<meta property="og:image:alt" content={socialImageAlt} />

<!-- Twitter Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@eloydotco" />
<meta name="twitter:creator" content="@eloydotco" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={canonicalImageSrc} />
<meta name="twitter:image:alt" content={socialImageAlt} />

<!-- Global styles -->

<style set:html={styles}>

</style>

<!-- <script is:inline>
  const prefersDark = window.matchMedia(
    "(prefers-color-scheme: dark)"
  ).matches;
  document.documentElement.dataset.theme = prefersDark ? "dark" : "light";

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (event) => {
      document.documentElement.dataset.theme = event.matches
        ? "dark"
        : "light";
    });
</script> -->
