---
import Head from '../components/Head.astro';
import Toolbar from '../components/Toolbar.astro';

export interface Props {
  title: string;
  description?: string;
}

const { title: pageTitle, description = 'My piece of the Internet' } = Astro.props;
const canonicalURL = Astro.canonicalURL;
const siteName = canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
---

<html lang='en' class='scroll-smooth'>

<head>

  <Head {title} {description} {canonicalURL} {siteName} />
</head>

<body>
  <Toolbar currentPage={Astro.request.url.pathname} />

  <main class='max-w-[65ch]'>
    <slot></slot>
  </main>

  <!-- <Footer /> -->
</body>

</html>