---
import Head from '../components/head.astro';
import Header from '../components/header.astro';
import Splash from "../components/splash.astro";

export interface Props {
  title: string;
  description: string;
}

const { title: pageTitle, description } = Astro.props;
const canonicalURL = Astro.canonicalURL;
const siteName = canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
---

<html lang="en" class="scroll-smooth">

<head>

  <Head {title} {description} {canonicalURL} {siteName} />
</head>

<body
  class="h-full overflow-x-hidden text-base bg-default text-default selection:bg-primary selection:text-[color:var(--color-text)]">
  <Header currentPage={Astro.request.url.pathname} />
  <Splash />
  <main class="px-8 py-32 space-y-24">
    <slot />
  </main>

  <!-- <Footer /> -->
</body>

</html>
